body {
    background-color: tan;
    color: white;
}

div#page {
    width: 1000px;
    margin: 1rem auto;
}

header {
    background-color: blue;
    padding: 1rem;
}

main {
    background-color: red;
    padding: 1rem;
}

footer {
    color: blue;
    text-align: center;
}