h1, h2, p, a, ul {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;

    color: aliceblue;
}

a {
    padding: 4px;
}

/* Fulfill attribute selector */
a[target="_blank"] {
    color: blanchedalmond;
}

/* Fulfill :hover state */
a:hover {
    color: greenyellow;
}

/* -------------------------------------------------- */

body {
    background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/730/capsule_616x353.jpg?t=1700000000");
    background-size: cover;

    margin: 0px;
    padding: 0px;
}

/* Fulfill ID selector */
#container {
    background-color: rgba(0, 0, 0, 0.65);

    width: 60%;
    margin: 0px auto;
    padding: 8px;
}

/* -------------------------------------------------- */

section {
    border-left: 2px solid greenyellow;

    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 12px;
    margin-top: 12px;
}

/* -------------------------------------------------- */

nav {
    padding: 6px;
}

/* Fulfill decendant selector */
header nav {
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
}

/* Fulfill child selector */
header h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    
    margin-bottom: 18px;
}

footer {
    border-top: 1px solid greenyellow;
}

/* Fulfill child selector */
footer nav {
    text-align: right;
    color: blanchedalmond;
}