/* Text */

h1, h2, p, a {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;

    color: aliceblue;
}

a {
    padding: 4px;
}

a[target="_blank"]{
    color: blanchedalmond;
}

a:hover {
    color: greenyellow;
}

/* Page */

body {
    background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/730/capsule_616x353.jpg?t=1700000000");
    background-size: cover;

    margin: 0px;
    padding: 0px;
}

#container {
    background-color: rgba(0, 0, 0, 0.65);

    width: 60%;
    margin: 0px auto;
    padding: 8px;
}

nav {
    padding: 6px;
}

/* Header */

header > nav {
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
}

header > h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    
    margin-bottom: 18px;
}

/* Footer */

footer {
    border-top: 1px solid greenyellow;
}

footer > nav {
    text-align: right;
    color: blanchedalmond;
}